:root {
  --darkPurple: #2b3174;
  --lightPurple: #cbb7d9;
  --cream: #f2efdf;
  --golden: #fdc70c;
  --textColor: #1c164a;
  --tan: #a38c6c;
  --softPink: #fde3d8;
}

.bg-body-tertiary {
  background-color: var(--cream) !important;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  color: var(--darkPurple);
  font-size: medium;
}

.nav-link:hover {
  color: var(--lightPurple);
}

.navIcons {
  gap: 1rem;
  padding-right: 1rem;
}

.users {
  padding-right: 1rem;
}

.spaces {
  gap: 0.5rem;
}

.logoName {
  padding-top: 1rem;
  padding-left: 1rem;
}

.navbar-toggler-icon {
  background-image: url(/public/nav-images/burger_purple.png) !important;
}

.navbar-toggler-icon :focus,
.navbar-toggler-icon :focus-visible {
  box-shadow: none !important;
}
