:root {
  --darkPurple: #2b3174;
  --lavender: #cbb7d9;
  --lightPurple: #dabacf;
  --mauve: #bb96bc;
  --purple: #986dc2;
  --cream: #f2efdf;
  --cream2: #fff5ce;
  --golden: #fdc70c;
  --textColor: #1c164a;
}

.bg-body-tertiary {
  background-color: var(--cream) !important;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  color: var(--darkPurple);
  font-size: large;
}

.nav-link:hover {
  color: var(--lavender);
  transition: 200ms ease-in;
}

.navIcons {
  gap: 1rem;
  padding-right: 1rem;
}

.loggedIn {
  display: inline-flex;
}

.users {
  padding-right: 1rem;
}

.spaces {
  gap: 1rem;
}

.logoName {
  padding-top: 1rem;
  padding-left: 1rem;
}

.navbar-toggler-icon {
  background-image: url(/public/nav-images/burger_purple.png) !important;
}

.navbar-toggler-icon :focus,
.navbar-toggler-icon :focus-visible {
  box-shadow: none !important;
}

.loginUsers {
  padding-top: 1rem;
}

.loggedIn:hover {
  color: var(--lavender);
}

.dropdown-menu :hover {
  color: var(--cream) !important;
  background-color: var(--purple) !important;
}

.dropdown-item {
  color: var(--darkPurple) !important;
}

.list-group-item {
  color: var(--darkPurple) !important;
}

#nav-login-icon:hover {
  content: url("../nav-images/login_lavender.png");
  transition: 200ms ease-in;
}

#nav-cart-icon:hover {
  content: url("../nav-images/cart_lavender.png");
  transition: 200ms ease-in;
}

#nav-js-icon:hover {
  content: url("../nav-images/soapbox_lavender.png");
  transition: 200ms ease-in;
}

.active {
  background-color: var(--lavender) !important;
  color: var(--textColor) !important;
}

@media only screen and (min-width: 600px) {
  .flower-logo {
    width: 140px;
  }

  .logoName {
    height: 80px;
  }

  .nav-link {
    font-size: xx-large;
  }

  #nav-cart-icon {
    width: 70px;
  }

  .footer-titles {
    font-size: xx-large;
  }
}

@media only screen and (max-width: 912px) {
  .logoName {
    height: 45px;
  }
}

@media only screen and (max-width: 820px) {
  .logoName {
    height: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .logoName {
    height: 35px;
  }

  .flower-logo {
    width: 70px;
  }

  .nav-link {
    font-size: medium;
  }
}

@media only screen and (max-width: 600px) {
  .logoName {
    height: 50px;
  }
  .socials-icons {
    width: 65px;
  }
}

@media only screen and (max-width: 375px) {
  .flower-logo {
    width: 70px;
  }
  .logoName {
    height: 50px;
  }
  .socials-icons {
    width: 65px;
  }
  .socials {
    gap: 1rem;
  }
  .bottom-pics {
    width: 300px;
  }
}

@media only screen and (max-width: 360px) {
  .logoName {
    height: 45px;
  }
}

@media only screen and (max-width: 280px) {
  .logoName {
    height: 40px;
  }

  .flower-logo {
    width: 50px;
  }
}
