:root {
  --darkPurple: #2b3174;
  --lavender: #cbb7d9;
  --lightPurple: #dabacf;
  --mauve: #bb96bc;
  --purple: #986dc2;
  --cream: #f2efdf;
  --cream2: #fff5ce;
  --golden: #fdc70c;
  --textColor: #1c164a;
}

.products-title {
  color: var(--darkPurple);
}

.table-text-color {
  color: var(--darkPurple) !important;
}
