:root {
  --darkPurple: #2b3174;
  --lightPurple: #dabacf;
  --mauve: #bb96bc;
  --purple: #986dc2;
  --cream: #f2efdf;
  --cream2: #fff5ce;
  --golden: #fdc70c;
  --textColor: #1c164a;
}

* {
  font-family: "Montserrat", sans-serif !important;
}

main {
  min-height: 63vh;
}

.a {
  text-decoration: none !important;
}
